{% extends 'base.html.twig' %}

{% block title %}Ouh un 'connoisseur' !
{% endblock %}

{% block body %}
    <a class="btn btn-outline-primary my-3" href="{{ path('bar') }}"><i class="fas fa-backward"></i></a>
    <h4 class="text-center">{{ category.name|capitalize }}</h5>

    {% include '_beer_card.html.twig' with beers %}
{% endblock %}
